<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image with Dynamic Boxes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="image-container">
        <img id="myImage" src="/Users/home/Desktop/GSK/Computer-Vision/webapp-design-test/static/images/processed_image_1.png" alt="Image">
        <div id="boxes-container"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>