.image-container {
  position: relative; /* Makes absolute positioning work */
}
.cursor-Values {
  /* position: relative; */
  display: flex;
}

#myImage {
  width: 1000px; /* Adjust width and height as needed */
  height: 700px;
}

@keyframes blinkBorder {
  from {
    border-color: blue;
  }
  to {
    border-color: transparent;
  }
}

.highlightBox {
  position: absolute; /* Positions the box on top of the image */
  background-color: rgba(
    255,
    255,
    0,
    0.3
  ); /* Semi-transparent yellow highlight */
  border: 2px solid rgba(255, 0, 0, 1);
  padding: 5px;
  cursor: pointer; /* Changes cursor to indicate interactivity */
  opacity: 1; /* Initial opacity */
  transition: opacity 0.2s ease-in-out, border-color 5s; /* Smooth opacity transition */
}
.highlightBox.selected {
  border-color: blue; /* Border color for selected box */
  animation: blinkBorder 0.5s infinite; /* Animation for blinking border */
}

.hintBox {
  position: absolute; /* Positions the hint box relative to the highlighted box */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #fff; /* White text */
  padding: 5px;
  font-size: 12px;
  display: none; /* Initially hidden */
  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: display 0.2s ease-in-out; /* Smooth display transition */
  pointer-events: none;
}
/* New class for hint box on hover effect */
.hintBox:hover {
  opacity: 1; /* Set full opacity on hover */
}

.cursorInfo {
  /* position: absolute; */
  width: 150px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #fff; /* White text */
  padding: 5px;
  font-size: 12px;

  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: display 0.2s ease-in-out; /* Smooth display transition */
  pointer-events: none;
}
.cursorOffsetInfo {
  /* position: absolute; */
  width: 150px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #dfb037; /* White text */
  padding: 5px;
  font-size: 12px;

  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: display 0.2s ease-in-out; /* Smooth display transition */
  pointer-events: none;
}

.elementInfo {
  /* position: absolute; */
  width: auto;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #379cdf; /* White text */
  text-shadow: 0 2px 5px #000000;
  padding: 5px;
  font-size: 12px;

  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: display 0.2s ease-in-out; /* Smooth display transition */
  pointer-events: none;
}
.spacing-guide {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}
